/* universal styles =====================================*/
body {
    background-color: #FAF8EB;
}

/* main container =======================================*/
.main-container, .pub-container, .tea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 230px;
}
h2 {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 400;
    text-align: right;
    color: white;
}
.tagline {
    padding-right: 30px;
}

/* main container for smaller screens===================*/
@media only screen and (max-width: 1200px) {
    .main-container, .pub-container, .tea-container {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .main-container {
        margin-top: 130px;
    }
}

/* main image section ===================================*/
.main-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.home-image {
    background-image: url('./resources/A_black_labrador_sits_quietly_by_the_fire_in_an_English_pub.jpg');
}
.pub-image {
    background-image: url('./resources/wine_and_beer_glass_and_crips_on_table_by_fire.jpg');
}
.tea-image {
    background-image: url('./resources/Afternoon-tea-inspiration.jpg');
}
.about-image {
    background-image: url('./resources/about-image.jpg');
    background-position: center;
}
.intro-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: rgba(229, 224, 184, 0.65);
    transition: background-color 1s ease-in;
}
.intro-text:hover {
    background-color: rgba(229, 224, 184, 0.8);
}
h3 {
    color: black;
    font-family: 'Palatino', serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.intro-text a {
    color: black;
}
p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

/*main image section for smallerscreens ===============*/
@media only screen and (max-width: 900px) {
    body {
        margin: 0;
    }
    .tagline {
        display: none;
    }
    .main-image {
        background-position: center;
        background-attachment: scroll;
        align-items: center;
    }
    h3 {
        font-size: 1.1rem;
    }
    .intro-text {
        margin: 30px;
        justify-content: center;
        width: 60%;
        
    }
    .intro-text p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    h3 {
        font-size: 0.7rem;
        margin-top: 10px;
    }
    .intro-text p {
        font-size: 0.7rem;
        margin-bottom: 0.8rem;
    }
    .intro-text a {
        font-size: 0.7rem;
    }
    .main-image {
        align-items: center;
    }
    .intro-text {
        justify-content: center;
        padding: 10px;
        width: 70%;
        margin: 20px;
        background-color: rgba(250, 248, 235, 0.8);
    }
    .intro-text:hover {
        background-color: rgba(250, 248, 235, 0.9);
    }
}

/* separator section ======================================*/
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 40%;
}
.deer {
    width: 10%;
    text-align: center;
}
.deer img {
    width: 50px;
}

/* products section ===================================*/
.products {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 28%;
    height: 350px;
}
.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.479);
    transition: background-color 1s;
    
}
.info-text:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.info-text a {
    color: black;
    text-decoration: none;
    transition: background-color 0.5s ease-in;
}
.info-text a:hover {
    background-color: #E7DE71;
    border-radius: 5px;
    padding: 5px;
}
.info-text p, .info-text h3 {
    color: black;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.pub {
    background-image: url('./resources/Wine\ glasses\ hanging\ from\ the\ deck\ over\ the\ bar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.afternoon-tea {
    background-image: url('./resources/Afternoon-tea-inspiration.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.semesterbostad {
    background-image: url('./resources/annexe.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

/* product section for smaller screens ==========================*/
@media only screen and (max-width: 900px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
    .info-box {
        width: 80%;
        margin-bottom: 20px;
    }
    .info-text {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .info-text p {
        font: 0.9rem;
    }
    .info-text h3 {
        font-size: 1.2rem;
    }
    .info-text a {
        font-size: 1.2rem;
    }
    .pub {
        background-position: center;
    }
    .bed-breakfast {
        background-position: right;
    }
}

/* CONTACT PAGE STYLES ============================*/
#margin-contact {
    height: 180px;
}
iframe #form-heading-00000002-acc {
    font-family: 'Castellar', sans-serif;
    font-weight: 300;
}

/* about us page styles ================================*/
.content-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}
.content-square {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    border: 30px solid;
    border-image: url('./resources/border.PNG') 30 round;
}
.content-square p {
    font-size: 0.9rem;
}
.content-square img {
    max-width: 300px;
    align-self: center;
}
/* about us page for smaller screens =========================*/
@media only screen and (max-width: 900px) {
    .content-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .content-square {
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    .content-square p {
        font-size: 0.7rem;
    }
}

/* afternoon tea page styles ============================*/
.tea-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
    height: 240px;
    padding: 30px;
}
.tea-square h3 {
    color: black;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
    background-color: #ffffffa4;
    border-radius: 5px;
}
#menu {
    background-image: url('./resources/tea-menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#booking-form {
    background-image: url('./resources/booking-form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}